@charset "UTF-8";

/* -----------------------------------------------
Table of Contents (common css) [Thought of SMACSS + original]
--------------------------------------------------
0. Foundation
	 0-1. Reset (normalize.css + original)
	 0-2. Base
	 0-3. Config
1. Layout
	 1-1. #document
	 1-2. #header
	 1-3. #container
				1-3-1. #main
				1-3-2. #sub
	 1-4. #footer
	 1-5. #nav-global
2. Object
	 2-1. Component a.k.a Module [Thought of BEM + original]
				2-1-1.  Wrap     [wrp-***]
				2-1-2.  Box      [box-***]
				2-1-3.  Table    [tbl-***]
				2-1-4.  Headings [hdg-lv*]
				2-1-5.  Nav      [nav-***]
				2-1-6.  List     [lst-***]
				2-1-7.  Button   [btn-***]
				2-1-8.  Anchor   [acr-***]
				2-1-9.  Text     [txt-***]
				2-1-10. Icon     [icn-***]
				2-1-11. Label    [lbl-***]
				2-1-12. Form     [frm-***]
				2-1-13. Error    [err-***]
				2-1-14. UI
	 2-2. Utility
				2-2-1. clearfix
				2-2-2. margin,padding [mb10,pt20]
				2-2-3. Object-Oriented CSS
				2-2-4. Grid System [grid-***]
				2-2-5. WebFont [FontAwesome] http://fortawesome.github.io/Font-Awesome/icons/
	 2-3. State [is-***]
	 2-4. OverLayerConfig [z-index]
	 2-5. Project

-------------------------------------------------- */

/* -----------------------------------------------
 [0. Foundation]
-------------------------------------------------- */

/* 0-1. Reset
-------------------------------------------------- */
html{
	font-family: sans-serif;
}
body{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}
a{
	background: transparent;
}
a:focus{
	outline: thin dotted;
}
a:active,
a:hover{
	outline: 0;
}
html,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,del,em,img,strong,
dl,dt,dd,ol,ul,li,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,footer,header,small,nav,section,figure,figcaption,main{
	margin: 0;
	padding: 0;
	display: block;
	vertical-align: baseline;
	list-style: none;
	background-color: transparent;
	outline: none;
}
audio,canvas,video{
	display: inline-block;
}
ul,ol{
	list-style-type: none;
}
table{
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	line-height: 1;
	vertical-align: baseline;
	outline: none;
}
a img{
	border: none;
	outline: none;
}
sub,sup{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
hr{
	box-sizing: content-box;
	height: 0;
}
dt,dd,li,
th,td,
input,textarea{
	text-align: left;
	vertical-align: top;
}
button{
	border: none;
}
input,textarea,button{
	margin: 0;
	padding: 0;
}
input{
	border: 1px solid #dad7d3;
	height: 24px;
	padding: 2px 5px;
}
textarea{
	border: 1px solid #dad7d3;
	height: 78px;
	resize: none;
}
button,label{
	background-color: transparent;
	cursor: pointer;
}
button,select{
	text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled]{
	cursor: default;
}
input[type="checkbox"],
input[type="radio"]{
	box-sizing: content-box;
	padding: 0;
}
input[type="search"]{
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
	padding: 0;
	border: 0;
}
textarea{
	overflow: auto;
	vertical-align: top;
}
:focus{
	outline: none;
}

/* 0-2. Base
-------------------------------------------------- */
html{
	overflow-y: scroll;
	font-size: 100%;
}
body{
	font-family:"游ゴシック","YuGothic","Roboto Regular","ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","helvetica","arial",sans-serif;
	background-color: #f0eee9;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: bold;
}
table{
	width: 100%;
}
input,textarea,button, select{
	font-family:"游ゴシック","YuGothic","Roboto Regular","ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","helvetica","arial",sans-serif;
	font-size: 100%;
}
strong{
	font-weight: bold;
}
em{
	font-weight: bold;
}




/* 0-3. Config
-------------------------------------------------- */
body{
	font-size: 15px;		　　/* ベースのフォントサイズを指定 */
	color: #000;			　　/* ベースのテキスト色を指定 */
	position: relative;
}
@media screen and (min-width: 768px){
	body{
		font-size: 16px;
		min-width: 1008px;
	}
}
a{
	color: #e6413b;				/* ベースのリンク文字の色を指定 */
	text-decoration: none;	/* ベースのリンク文字の下線の有無を指定 */
}
a:visited{
	color: #e6413b;				/* ベースのリンク文字の色を指定 */
}
a:hover{
	color: #e6413b;				/* ベースのリンク文字の色を指定 */
	text-decoration: underline;		/* ベースのリンク文字の下線の有無を指定 */
}
a:focus{
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.4;			/* ベースの行間を指定 */
}
p{
	line-height: 1.428;			/* ベースの行間を指定 */
}
dt,dd,li,
th,td,
input,
textarea,
button{
	line-height: 1.5;			/* ベースの行間を指定 */
}

@media screen and (min-width: 768px){
	p{
		line-height: 1.625;
	}
}



/* -----------------------------------------------
 [1. Layout]
-------------------------------------------------- */
/* 1-1. #document
-------------------------------------------------- */


/* 1-2. #header
-------------------------------------------------- */


/* 1-3. #vcontainer
-------------------------------------------------- */


/* 1-3-1. #main
-------------------------------------------------- */


/* 1-3-2. #sub
-------------------------------------------------- */


/* 1-4. #footer
-------------------------------------------------- */


/* 1-5. #nav-global
-------------------------------------------------- */


/* -----------------------------------------------
 [2. Object]
-------------------------------------------------- */

/* 2-1. Component a.k.a Module
-------------------------------------------------- */
/*2-1-1.  Wrap     [wrp-***]*/


/*2-1-2.  Box      [box-***]*/


/*2-1-3.  Table    [tbl-***]*/


/*2-1-4.  Headings [hdg_lv*]*/


/*2-1-5.  Nav      [nav-***]*/


/*2-1-6.  List     [lst-***]*/


/*2-1-7.  Button   [btn-***]*/


/*2-1-8.  Anchor   [acr-***]*/


/*2-1-9.  Text     [txt-***]*/


/*2-1-10. Icon     [icn-***]*/


/*2-1-11. Label    [lbl-***]*/


/*2-1-12. Form     [frm-***]*/


/*2-1-13. Error    [err-***]*/


/*2-1-14. UI*/


/* 2-2. Utility
-------------------------------------------------- */
/*2-2-1. clearfix [ModernType]*/
#header:after,#container:after,#main:after,#sub:after,#footer:after,
.clearfix:after{
	display: block;
	clear: both;
	content: "";
}


/*2-2-2. margin,padding [mb10,pt20]*/
/* margin  */.m0{margin:0!important;}.m5{margin: 5px!important;}.m10{margin: 10px!important;}.m15{margin: 15px!important;}.m20{margin: 20px!important;}.m25{margin: 25px!important;}.m30{margin: 30px!important;}.m35{margin: 35px!important;}.m40{margin: 40px!important;}.m45{margin: 45px!important;}.m50{margin: 50px!important;}.m55{margin: 55px!important;}.m60{margin: 60px!important;}.m65{margin: 65px!important;}.m70{margin: 70px!important;}.m75{margin: 75px!important;}.m80{margin: 80px!important;}.m85{margin: 85px!important;}.m90{margin: 90px!important;}.m95{margin: 95px!important;}.m100{margin: 100px!important;}/* margin-top */.mt0{margin-top:0!important;}.mt5{margin-top: 5px!important;}.mt10{margin-top: 10px!important;}.mt15{margin-top: 15px!important;}.mt20{margin-top: 20px!important;}.mt25{margin-top: 25px!important;}.mt30{margin-top: 30px!important;}.mt35{margin-top: 35px!important;}.mt40{margin-top: 40px!important;}.mt45{margin-top: 45px!important;}.mt50{margin-top: 50px!important;}.mt55{margin-top: 55px!important;}.mt60{margin-top: 60px!important;}.mt65{margin-top: 65px!important;}.mt70{margin-top: 70px!important;}.mt75{margin-top: 75px!important;}.mt80{margin-top: 80px!important;}.mt85{margin-top: 85px!important;}.mt90{margin-top: 90px!important;}.mt95{margin-top: 95px!important;}.mt100{margin-top: 100px!important;}/* margin-right */.mr0{margin-right:0!important;}.mr5{margin-right: 5px!important;}.mr10{margin-right: 10px!important;}.mr15{margin-right: 15px!important;}.mr20{margin-right: 20px!important;}.mr25{margin-right: 25px!important;}.mr30{margin-right: 30px!important;}.mr35{margin-right: 35px!important;}.mr40{margin-right: 40px!important;}.mr45{margin-right: 45px!important;}.mr50{margin-right: 50px!important;}.mr55{margin-right: 55px!important;}.mr60{margin-right: 60px!important;}.mr65{margin-right: 65px!important;}.mr70{margin-right: 70px!important;}.mr75{margin-right: 75px!important;}.mr80{margin-right: 80px!important;}.mr85{margin-right: 85px!important;}.mr90{margin-right: 90px!important;}.mr95{margin-right: 95px!important;}.mr100{margin-right: 100px!important;}/* margin-bottom */.mb0{margin-bottom:0!important;}.mb5{margin-bottom: 5px!important;}.mb10{margin-bottom: 10px!important;}.mb15{margin-bottom: 15px!important;}.mb20{margin-bottom: 20px!important;}.mb25{margin-bottom: 25px!important;}.mb30{margin-bottom: 30px!important;}.mb35{margin-bottom: 35px!important;}.mb40{margin-bottom: 40px!important;}.mb45{margin-bottom: 45px!important;}.mb50{margin-bottom: 50px!important;}.mb55{margin-bottom: 55px!important;}.mb60{margin-bottom: 60px!important;}.mb65{margin-bottom: 65px!important;}.mb70{margin-bottom: 70px!important;}.mb75{margin-bottom: 75px!important;}.mb80{margin-bottom: 80px!important;}.mb85{margin-bottom: 85px!important;}.mb90{margin-bottom: 90px!important;}.mb95{margin-bottom: 95px!important;}.mb100{margin-bottom: 100px!important;}/* margin-left */.ml0{margin-left:0!important;}.ml5{margin-left: 5px!important;}.ml10{margin-left: 10px!important;}.ml15{margin-left: 15px!important;}.ml20{margin-left: 20px!important;}.ml25{margin-left: 25px!important;}.ml30{margin-left: 30px!important;}.ml35{margin-left: 35px!important;}.ml40{margin-left: 40px!important;}.ml45{margin-left: 45px!important;}.ml50{margin-left: 50px!important;}.ml55{margin-left: 55px!important;}.ml60{margin-left: 60px!important;}.ml65{margin-left: 65px!important;}.ml70{margin-left: 70px!important;}.ml75{margin-left: 75px!important;}.ml80{margin-left: 80px!important;}.ml85{margin-left: 85px!important;}.ml90{margin-left: 90px!important;}.ml95{margin-left: 95px!important;}.ml100{margin-left: 100px!important;}
/* padding */.p0{padding:0!important;}.p5{padding: 5px!important;}.p10{padding: 10px!important;}.p15{padding: 15px!important;}.p20{padding: 20px!important;}.p25{padding: 25px!important;}.p30{padding: 30px!important;}.p35{padding: 35px!important;}.p40{padding: 40px!important;}.p45{padding: 45px!important;}.p50{padding: 50px!important;}.p55{padding: 55px!important;}.p60{padding: 60px!important;}.p65{padding: 65px!important;}.p70{padding: 70px!important;}.p75{padding: 75px!important;}.p80{padding: 80px!important;}.p85{padding: 85px!important;}.p90{padding: 90px!important;}.p95{padding: 95px!important;}.p100{padding: 100px!important;}/* padding-top */.pt0{padding-top:0!important;}.pt5{padding-top: 5px!important;}.pt10{padding-top: 10px!important;}.pt15{padding-top: 15px!important;}.pt20{padding-top: 20px!important;}.pt25{padding-top: 25px!important;}.pt30{padding-top: 30px!important;}.pt35{padding-top: 35px!important;}.pt40{padding-top: 40px!important;}.pt45{padding-top: 45px!important;}.pt50{padding-top: 50px!important;}.pt55{padding-top: 55px!important;}.pt60{padding-top: 60px!important;}.pt65{padding-top: 65px!important;}.pt70{padding-top: 70px!important;}.pt75{padding-top: 75px!important;}.pt80{padding-top: 80px!important;}.pt85{padding-top: 85px!important;}.pt90{padding-top: 90px!important;}.pt95{padding-top: 95px!important;}.pt100{padding-top: 100px!important;}/* padding-right */.pr0{padding-right:0!important;}.pr5{padding-right: 5px!important;}.pr10{padding-right: 10px!important;}.pr15{padding-right: 15px!important;}.pr20{padding-right: 20px!important;}.pr25{padding-right: 25px!important;}.pr30{padding-right: 30px!important;}.pr35{padding-right: 35px!important;}.pr40{padding-right: 40px!important;}.pr45{padding-right: 45px!important;}.pr50{padding-right: 50px!important;}.pr55{padding-right: 55px!important;}.pr60{padding-right: 60px!important;}.pr65{padding-right: 65px!important;}.pr70{padding-right: 70px!important;}.pr75{padding-right: 75px!important;}.pr80{padding-right: 80px!important;}.pr85{padding-right: 85px!important;}.pr90{padding-right: 90px!important;}.pr95{padding-right: 95px!important;}.pr100{padding-right: 100px!important;}/* padding-bottom */.pb0{padding-bottom:0!important;}.pb5{padding-bottom: 5px!important;}.pb10{padding-bottom: 10px!important;}.pb15{padding-bottom: 15px!important;}.pb20{padding-bottom: 20px!important;}.pb25{padding-bottom: 25px!important;}.pb30{padding-bottom: 30px!important;}.pb35{padding-bottom: 35px!important;}.pb40{padding-bottom: 40px!important;}.pb45{padding-bottom: 45px!important;}.pb50{padding-bottom: 50px!important;}.pb55{padding-bottom: 55px!important;}.pb60{padding-bottom: 60px!important;}.pb65{padding-bottom: 65px!important;}.pb70{padding-bottom: 70px!important;}.pb75{padding-bottom: 75px!important;}.pb80{padding-bottom: 80px!important;}.pb85{padding-bottom: 85px!important;}.pb90{padding-bottom: 90px!important;}.pb95{padding-bottom: 95px!important;}.pb100{padding-bottom: 100px!important;}/* padding-left */.pl0{padding-left:0!important;}.pl5{padding-left: 5px!important;}.pl10{padding-left: 10px!important;}.pl15{padding-left: 15px!important;}.pl20{padding-left: 20px!important;}.pl25{padding-left: 25px!important;}.pl30{padding-left: 30px!important;}.pl35{padding-left: 35px!important;}.pl40{padding-left: 40px!important;}.pl45{padding-left: 45px!important;}.pl50{padding-left: 50px!important;}.pl55{padding-left: 55px!important;}.pl60{padding-left: 60px!important;}.pl65{padding-left: 65px!important;}.pl70{padding-left: 70px!important;}.pl75{padding-left: 75px!important;}.pl80{padding-left: 80px!important;}.pl85{padding-left: 85px!important;}.pl90{padding-left: 90px!important;}.pl95{padding-left: 95px!important;}.pl100{padding-left: 100px!important;}


/*2-2-3. Object-Oriented CSS [OOCSS]*/
.no-display{
	display: none;
}
.no-br{
	white-space: nowrap;
}
.no-line-height{
	line-height: 1!important;
}
.pull-left{
	float: left!important;
}
.pull-right{
	float: right!important;
}
.right{
	text-align: right!important;
}
.center{
	text-align: center!important;
}
.left{
	text-align: left!important;
}
.top{
	vertical-align: top!important;
}
.middle{
	vertical-align: middle!important;
}
.bottom{
	vertical-align: bottom!important;
}
.list{
}
ul.list li{
	margin-bottom: 6px;
	margin-left: 26px;
	list-style-type: disc!important;
}
ol.list li{
	margin-bottom: 6px;
	margin-left: 26px;
	list-style-type: decimal!important;
}

/* for RWD */
.fluid-image{
	max-width: 100%;
	height: auto;
}



/* 2-2-4. Grid System [grid-***] */
.wrp-grid, .row{
	box-sizing: border-box;
}
.wrp-grid:after, .row:after{
	clear: both;
	content: " ";
	display: table;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,
.grid-1--sp, .grid-2--sp, .grid-3--sp, .grid-4--sp, .grid-5--sp, .grid-6--sp, .grid-7--sp, .grid-8--sp, .grid-9--sp, .grid-10--sp, .grid-11--sp, .grid-12--sp{
	box-sizing: border-box;
	float: left;
}

/* 1. 12 Column Grid 0px - 767px 
----------------------------------------------------------------------------- 

col 1:    8.33333333333%
col 2:    16.6666666667%
col 3:    25.0%
col 4:    33.3333333333%
col 5:    41.6666666667%
col 6:    50.0%
col 7:    58.3333333333%
col 8:    66.6666666667%
col 9:    75.0%
col 10:    83.3333333333%
col 11:    91.6666666667%
col 12:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 767px){
	.wrp-grid{
		margin-left: -8px;
		margin-right: -7px;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,
	.grid-1--sp, .grid-2--sp, .grid-3--sp, .grid-4--sp, .grid-5--sp, .grid-6--sp, .grid-7--sp, .grid-8--sp, .grid-9--sp, .grid-10--sp, .grid-11--sp, .grid-12--sp{
		width: 100%;
		padding: 0 7px 0 8px;
	}
	.grid-1--sp{
		width: 8.33333%;
	}
	.grid-2--sp{
		width: 16.66667%;
	}
	.grid-3--sp{
		width: 25%;
	}
	.grid-4--sp{
		width: 33.3333333%;
	}
	.grid-5--sp{
		width: 41.66667%;
	}
	.grid-6--sp{
		width: 50%;
	}
	.grid-7--sp{
		width: 58.33333%;
	}
	.grid-8--sp{
		width: 66.66667%;
	}
	.grid-9--sp{
		width: 75%;
	}
	.grid-10--sp{
		width: 83.33333%;
	}
	.grid-11--sp{
		width: 91.66667%;
	}
	.grid-12--sp{
		width: 100%;
	}
}
/* 2. 12 Column Grid 768px - Infinity 
----------------------------------------------------------------------------- 

col 1:    8.33333333333%
col 2:    16.6666666667%
col 3:    25.0%
col 4:    33.3333333333%
col 5:    41.6666666667%
col 6:    50.0%
col 7:    58.3333333333%
col 8:    66.6666666667%
col 9:    75.0%
col 10:    83.3333333333%
col 11:    91.6666666667%
col 12:    100%

----------------------------------------------------------------------------- */
@media screen and (min-width: 768px){
	.wrp-grid{
		margin-left: -15px;
		margin-right: -15px;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12{
		padding: 0 15px;
	}
	.grid-1{
		width: 8.33333333333%;
	}
	.grid-2{
		width: 16.6666666667%;
	}
	.grid-3{
		width: 25%;
	}
	.grid-4{
		width: 33.3333333333%;
	}
	.grid-5{
		width: 41.6666666667%;
	}
	.grid-6{
		width: 50%;
	}
	.grid-7{
		width: 58.3333333333%;
	}
	.grid-8{
		width: 66.6666666667%;
	}
	.grid-9{
		width: 75%;
	}
	.grid-10{
		width: 83.3333333333%;
	}
	.grid-11{
		width: 91.6666666667%;
	}
	.grid-12{
		width: 100%;
	}
}

/* 2-2-5. WebFont [FontAwesome] */


/* 2-2-6. Visibility [visible-***] */
@media only screen and (max-width : 767px){
	.visible-sp{
		display: block;
	}
	.visible-pc{
		display: none;
	}
}
@media only screen and (min-width : 768px){
	.visible-sp{
		display: none;
	}
	.visible-pc{
		display: block;
	}
}


/* 2-2-7. Background [bg-***] */


/* 2-3. State [is-***]
-------------------------------------------------- */
.is-open{
	display: block;
}
.is-close{
	display: none;
}
.is-error{
	background-color: #f9eceb;
}
.is-disabled{
	opacity: 0.45;
}
.is-active{

}



/* 2-4. OverLayerConfig [z-index]
-------------------------------------------------- */
.is-overlay{
	z-index: 10;
}

/* 2-5. Project
-------------------------------------------------- */
